body {
    color:black;
    background-color:white;
    font-size:16pt;   
}


table{
    height:auto;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    border-style:solid;
    border-color:black;
    border-width:1pt;
}


.auto-style1 {
    padding:30px;
    border-right-color:black;
    border-right-style:solid;
    border-right-width:1pt;
    width: 350px;
}


.auto-style2 {
    padding:40px;
    width: 600px;
}


h1{
    font-size:36pt;
    font-weight:bold;
}


h2{
    font-size:20pt;
}


.red{
    color:red;
}